:root{
	--main-font: 'Roboto', sans-serif;
	--second-font: 'Raleway', sans-serif;
	--main-accent-color: #2196F3;
	--main-heading-color: #212121;
	--main-text-color: #757575;
	--first-title-color: #ffffff;
	--first-button-color: #2196F3;
	--second-button-color: #F5F4FA;
	--section-dark-background: #2F303A;
}
